@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body
{
    padding: 0;
    background: #eee;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.frame
{
    position: relative;
    width: 460px;
    height: 560px;
    padding: 6px;
    background: #fff;
    margin: 80px auto;
}

.shadow-top
{
    position: absolute;
    left: -50px;
    width: 0;
    height: 0;
    border-bottom: 546px solid #bbb;
    border-left: 50px solid transparent;
}

.shadow-bottom
{
    position: absolute;
    left: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #aaa;
    border-left: 50px solid transparent;
}

.canvas
{
    position: relative;
    padding: 30px;
    width: 400px;
    height: 500px;
    background: #aa00ff7e;
}

.ground
{
    position: absolute;
    top: 630px;
    width: 100%;
    min-width: 250px;
    height: 400px;
    padding: 120px 0;
    background: #ddd;
    overflow: hidden;
}

.text
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    padding-top: 0px;
    padding-right: 200px;
    padding-left: 10px;
}

.photo
{
    position: absolute;
    width: 240px;
    height: 560px;
    bottom: 0px;
    right: 0px;
    border-left: rgb(255, 255, 255) solid 2px;
}

.slogan
{
    position: absolute;
    font-size: 16px;
    left: 45px;
    bottom: 15px
}

.logo
{
    position: absolute;
    border-radius: 50%;
    left: 50px;
    bottom: 40px;
    width: 115.63px;
    height: 61.9px;
}

a, .ground p
{
    color: #222;
    line-height: 0;
}