.frame2
{
    right: 490px;
    bottom: 844px;
    position: relative;
    width: 200px;
    height: 400px;
    padding: 6px;
    background: rgb(255, 255, 255);
    margin: 80px auto;
}

.shadow-top2
{
    position: absolute;
    left: -50px;
    width: 0;
    height: 0;
    border-bottom: 386px solid #bbb;
    border-left: 50px solid transparent;
}

.shadow-bottom2
{
    position: absolute;
    left: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #aaa;
    border-left: 50px solid transparent;
}

.canvas2
{
    bottom: 0px;
    position: relative;
    padding: 30px;
    width: 140px;
    height: 340px;
    background: #e3e3e3;
}

.head2
{
    position: absolute;
    bottom: 340px;
    right: 80px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 65px;
    padding-top: 0px;
}

.text2
{
    position: absolute;
    top: 50px;
    right: 30px;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    padding-top: 0px;
}

.head3
{
    position: absolute;
    bottom: 25px;
    right: 35px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    padding-top: 0px;
}